<form>
  <app-view-proposal-top></app-view-proposal-top>
  <div class="card">
    <div class="heading">
      Sponsorship Information
    </div>
    <div class="boolean-select-option">
      <div class="input-text">
        Will you be promoting this campaign on the platforms of your organization?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input type="radio" name="interestInNonProfit"> Yes
          <input type="radio" name="interestInNonProfit"> No
        </div>
      </div>
    </div>
    <div class="boolean-select-option">
      <div class="input-text">
        Will you be promoting this campaign on the platforms of your organization?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input type="radio" name="enablePrompt"  disabled [checked]="proposal.nonprofitOrganizationPromotion"> Yes
          <input type="radio" name="enablePrompt" disabled [checked]="!proposal.nonprofitOrganizationPromotion"> No
        </div>
      </div>
    </div>
  </div>
</form>
