<div class="upper">
  <div class="heading">
    Overview
  </div>
  <div class="upper-cards">
    <div class="card">
      <div class="card-text">
        Total Amount Raised
      </div>
      <div class="card-amount">
        $0.00
      </div>
    </div>
    <div class="card">
      <div class="card-text">
        Amazon Pay Balance
      </div>
      <div class="card-amount">
        $0.00
      </div>
    </div>
    <div class="card">
      <div class="card-text">
        Active Campaigns
      </div>
      <div class="card-amount">
        0
      </div>
    </div>
  </div>
</div>
<div class="lower">
<app-proposal-status-sponsor></app-proposal-status-sponsor>
</div>
