<div class="block-heading">Payments Due</div>
<div class="payments-due">
  <div class="card">
    <div class="card-left">
      <div class="card-new">New</div>
      <div class="campaignName">
        Stop Climate Change
      </div>
      <div class="between">Between :</div>
      <table>
        <tbody>
          <tr>
            <td>
              Romeo Radanyi
              <br>
              Mars Petcare
            </td>
           <td>
             Elijah Woods
             <br>
             Elijah Woods X Jamie fine
           </td>
            <td>
              Romeo Radanyi
              <br>
              World wide fund
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-right">
      <div class="pay-details">
        <div class="pay-details-heading">
        Non Profit Organization
        </div>
        <div class="pay-details-heading">
          $5000
        </div>
      </div>
      <div class="pay-details">
        <div class="pay-details-heading">
          Influencer
        </div>
        <div class="pay-details-heading">
          $5000
        </div>
      </div>
      <div class="pay-details pay-details-total">
        <div class="pay-details-heading">
          Balance
        </div>
        <div class="pay-details-heading">
          $10000
        </div>
      </div>
      <div class="amazon-paybutton">
        <div id="AmazonPayButton">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-heading">Transaction History</div>
<div class="transaction-history-card">
  <table>
    <tbody>
    <tr>
    </tr>
    </tbody>
  </table>
</div>
