<app-start-campaign-modal></app-start-campaign-modal>
<div class="upper">
  <div class="heading">
    Overview
  </div>
  <div class="upper-cards">
    <div class="card">
      <div class="card-text">
        Total Amount Raised
      </div>
      <div class="card-amount">
        $228,398.29
      </div>
    </div>
    <div class="card">
      <div class="card-text">
        Amazon Pay Balance
      </div>
      <div class="card-amount">
        $28,398.29
      </div>
    </div>
    <div class="card">
      <div class="card-text">
        Active Campaigns
      </div>
      <div class="card-amount">
        4
      </div>
    </div>
  </div>
</div>
<div class="heading">
  <div class="heading-text">
    New Campaign
  </div>
  <div class="heading-match">
    <i class="fa fa-filter" aria-hidden="true"></i>
    <select>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
    </select>
  </div>
</div>
<div class="new-campaign">
  <table>
    <thead>
    <tr>
      <td>Campaign</td>
      <td>NONPROFIT</td>
      <td>SPONSOR</td>
      <td>AMOUNT</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>xyz campaign</td>
      <td>World wide fund</td>
      <td>Beyond meet</td>
      <td>$10,000</td>
      <td><button (click)="showStartCampaignModal(1)" class="button">Start Campaign</button></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="heading">
  <div class="heading-text">
    Active Campaign
  </div>
  <div class="heading-match">
    <i class="fa fa-filter" aria-hidden="true"></i>
    <select>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
      <option>Name A - Z </option>
    </select>
  </div>
</div>
<div class="active-campaign">
  <div class="card">
    <div class="card-top">
      <div class="card-top-image">
        <img src="assets/images/BlackBackground.png">
      </div>
      <div class="card-top-amountRaised">
        Total Amount Raised
        <div class="amount">
          $10, 000
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="campaignName">
        Campus Pride week
      </div>
      <div class="people-involved">
        <div class="non-profit">
          <b>NonProfit Organisation</b><br>
          The trevor project
        </div>
        <div class="sponsor">
          <b>Sponsor</b><br>
          GRADEWAR
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="view-more-button">
        <a>View More</a>
      </div>
    </div>
  </div>
</div>
