<div class="outer">
  <div class="top" (click)="goToUser()">
    <div class="top-image">
      <img src="{{user.imgSrc}}">
    </div>
    <div class="description">
      <div class="top-heading">
        {{user.firstName}} {{user.lastName}}
      </div>
      <div class="post">
        {{user.position}}
      </div>
      <div class="org-name">
        {{user.companyName}}
      </div>
    </div>
  </div>
  <hr>
  <div class="middle">
    <div class="list-heading">
      Quick Links
    </div>
    <div class="list-item">
      <a (click)="redirectToDashboard()">Dashboard</a>
    </div>
    <div class="list-item">
      <a routerLink="/dashboard/campaign">Campaigns</a>
    </div>
    <div class="list-item">
      <a routerLink="/dashboard/proposal">Proposals</a>
    </div>
    <div class="list-item">
      <a>Calendar</a>
    </div>
    <div class="list-item">
      <a routerLink="/dashboard/payments">Payments</a>
    </div>
    <div class="list-item">
      <a href="/assets/privacy/CloutvocatePrivacyPolicy.pdf">Privacy Policy</a>
    </div>
    <div class="list-item">
      <a>Terms & Conditions</a>
    </div>
    <div class="list-item">
      <a>Settings</a>
    </div>
  </div>
  <hr>
  <div class="lower">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    <div class="logout" (click)="showLogout()">
      Sign Out
    </div>
  </div>
</div>
