<div class="card">
  <div class="heading">
    Campaign Proposal
  </div>
  <div class="influencer-details">
    <div class="image">
      <img src="../../../../assets/images/BlackBackground.png">
    </div>
    <div class="name-detail">
      <div class="name">
        Elijah Woods x Jamie Fine
      </div>
      <div class="post">
        Influencer(s)
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="heading">
    Basic Information
  </div>
  <div class="sub-heading">
  </div>
  <div class="campaign-name-category">
    <div class="input-name">
      <div class="input-text">
        Campaign Name
      </div>
      <div class="text-on-input">
        {{proposal.campaignName}}
      </div>
    </div>
    <div class="input-category">
      <div class="input-text">
        Campaign Category
      </div>
      <div class="text-on-input">
        {{proposal.campaignCategory}}
      </div>
    </div>
  </div>
  <div class="campaign-description">
    <div class="input-text">
      Campaign Description
    </div>
    <div class="text-on-input">
      {{proposal.campaignDescription}}
    </div>
  </div>
  <div class="campaign-date">
    <div class="campaign-date-left">
      <div class="campaign-date-input">
        <div class="input-text">
          Campaign Start Date
        </div>
        {{proposal.campaignStartDate}}
      </div>
      <div class="campaign-date-input">
        <div class="input-text">
          Campaign End Date
        </div>
        <div class="text-on-input">
          {{proposal.campaignEndDate}}
        </div>
      </div>
    </div>
    <div class="campaign-date-right">
      <div class="campaign-date-input">
        <div class="input-text">
          Proposal Approval Date
        </div>
        <div class="text-on-input">
          {{proposal.proposalApprovalDate}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="heading">
    Campaign Visibility
  </div>
  <div class="sub-heading">
    This information will help the influencer understand what your expectations for the campaign
  </div>
  <div class="social-promoters">
    <div class="input-text">
      Please indicate which platforms you would like your campaign to target
    </div>
    <div class="social-checkboxes">
      <div class="social-checkbox">
        <img src="../../../../assets/images/Facebook%20Logo.png">
        <input type="checkbox" disabled [checked]="isCheckBox(1)">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/Instagram%20Logo.png">
        <input type="checkbox" disabled [checked]="isCheckBox(2)">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/TikTok%20Logo.png">
        <input type="checkbox" disabled [checked]="isCheckBox(3)">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/Snapchat%20Logo.png">
        <input type="checkbox" disabled [checked]="isCheckBox(4)">
      </div>
      <div class="social-checkbox">
        <img src="../../../../assets/images/YouTube%20Logo.png">
        <input type="checkbox" disabled [checked]="isCheckBox(5)">
      </div>
    </div>
  </div>
  <div class="should-it-look">
    <div class="input-text">
      How Should It Look?
    </div>
    <div class="text-on-input">
      {{proposal.howShouldItLook}}
    </div>
  </div>
  <div class="call-to-action">
    <div class="input-text">
      How Should It Look?
    </div>
    <div class="text-on-input">
      {{proposal.callToAction}}
    </div>
  </div>
  <div class="boolean-select-options-2">
    <div class="boolean-select-option">
      <div class="input-text">
        Are you interested in allowing a for-profit organization sponsor this campaign?*
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input type="radio" name="interestInNonProfit" disabled [checked]="proposal.sponsorshipIntegration"> Yes
          <input type="radio" name="interestInNonProfit" disabled [checked]="!proposal.sponsorshipIntegration"> No
        </div>
      </div>
    </div>
    <div class="boolean-select-option">
      <div class="input-text">
        Will you be promoting this campaign on the platforms of your organization?
      </div>
      <div class="radio-options">
        <div class="radio-option">
          <input type="radio" name="enablePrompt"  disabled [checked]="proposal.nonprofitOrganizationPromotion"> Yes
          <input type="radio" name="enablePrompt" disabled [checked]="!proposal.nonprofitOrganizationPromotion"> No
        </div>
      </div>
    </div>
  </div>
</div>
