<div class="outer">
  <div class="inner">
    <div class="influencer-name">
      Elijah Woods X Jamie Fine
    </div>
    <div class="campaign-name">
      Stop Animal Hurting
    </div>
    <div class="sometext">
      Elijah Woods x Jamie Fine have teamed up with the World Wildlife Fund and Beyond Meat to help raise awareness about climate change and it’s impact on animal welfare. Donate today to make a difference!
    </div>
    <form class="form">
      <label class="left">
        <span>Your Name</span>
        <input class="input">
      </label>
      <label class="left">
        <span>last Name</span>
        <input class="input">
      </label>
      <label class="right">
        <span>Email Address</span>
        <input class="input">
      </label>
    </form>
    <div class="amazon-donation">
      <div class="heading-donation">
        Enter Your Donation
      </div>
      <div class="text-donation">
        Please note that 100% of your donation will be made directly to the nonprofit organization featured in this campaign
      </div>
      <div class="donation-component">
        <div
          data-ap-widget-type="expressDonationWidget"
          data-ap-widget-theme="ap-light"
          data-ap-widget-amount-presets="5,25,50,100"
          data-ap-widget-default-amount="1"
          data-ap-signature="v0v4cDy9PqWN%2FDmXCyIEyLVDRbaw25jHoKNZFDKckTg%3D"
          data-ap-seller-id="A2S2XWN7B3EK8I"
          data-ap-access-key="AKIAJKVNMI4FH74OQDUA"
          data-ap-lwa-client-id="amzn1.application-oa2-client.be5c3cbc93584d519c0682ec45ec1a86"
          data-ap-return-url="https://master.ddtfzmv0ytpn4.amplifyapp.com/cid/1"
          data-ap-currency-code="USD"
          data-ap-amount="0"
          data-ap-note="Thanks for Your contribution"
          data-ap-shipping-address-required="false"
          data-ap-payment-action="AuthorizeAndCapture"
        >
        </div>
      </div>
    </div>
  </div>
  <div class="image">
    <img src="assets/images/BlackBackground.png">
  </div>
</div>
